#box {
  transition:margin-left 2s ease, background-color 2s ease, transform 2s ease, border-radius 2s ease, margin-top 4s ease, display 4s ease;
  width:300px;
  height:300px;
  background:#000;
 
}

#box.animate {
  margin-left:500px;
  transform:rotateY(180deg);
  background-color:red;
  border-radius:50%;
  margin-top:300px;
 
}